<?xml version="1.0" ?>

<robot name="Chaser">

  <!-- Colors -->
  <material name="Grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="Orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="Blue">
  <color rgba="0.5 0.7 1.0 1.0"/>      
  </material>
  <material name="Red">
    <color rgba="1 0 0 1.0"/>      
  </material>

  <!--spacecraft-->
  <link name="spacecraft">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="100"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="1.25 1.5 2" />
      </geometry>
      <material name="Grey"/>
    </visual>
  </link>
  <!-- Joint to Left Solar Panel -->
  <joint name="spacecraft_left_panel" type="fixed">
    <parent link="spacecraft"/>
    <child link="left_panel"/>
    <origin rpy="0 0 0" xyz="0 -0.75 0"/>
    <axis xyz="0 0 1"/>
  </joint>
  <!-- Joint to Right Solar Panel -->
  <joint name="spacecraft_right_panel" type="fixed">
    <parent link="spacecraft"/>
    <child link="right_panel"/>
    <origin rpy="0 0 0" xyz="0 0.75 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Left Solar Panel-->
  <link name="left_panel">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -1.5 0"/>
      <mass value="20"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 -1.5 0"/>
      <geometry>
        <box size="0.25 3 1.5"/>
      </geometry>
      <material name="Blue"/>
    </visual>
  </link>

  <!-- Right Solar Panel-->
  <link name="right_panel">
    <inertial>
      <origin rpy="0 0 0" xyz="0 1.5 0"/>
      <mass value="20"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 1.5 0"/>
      <geometry>
        <box size="0.25 3 1.5"/>
      </geometry>
      <material name="Blue"/>
    </visual>
  </link>
  
</robot>

