<launch>

<!-- RRT/plan visualization node -->
<node pkg="orbital_planner" type="orbital_planner_node" name="orbital_planner" output="screen"/>

<node pkg="tf2_ros" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map world" />

<!-- rviz launch -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find orbital_planner)/config/orbital_planner.rviz"/>

</launch>